﻿@page "/"
@using Logic
@using System.Timers
@inject ArtistService artistService

<style>
    .loader {
        margin-top: 20px;
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .selected {
        background: #873df226;
    }
</style>

<div style="max-width: 1000px;">
    <div>
        <div style="height: 45px">
            <div style="float: left">
                <MatTextField @bind-Value="currentValue" 
                              @oninput="(x => currentValue = (string)x.Value)" 
                              OnKeyUp="()=> HandleKeyUp()" 
                              Outlined="true" 
                              Label="Search" 
                              Style="width: 300px"></MatTextField>
            </div>

            @if (loadingArtistData)
            {
                <div style="float: left; margin-top: -5px; margin-left: 10px;">
                    <div class="loader"></div>
                </div>
            }

        </div>

    </div>

    <p>

        @if (artists != null && artists.Any())
        {
            <MatTable Items="@artists" class="mat-elevation-z5">
                <MatTableHeader>
                    <th>
                        Name
                    </th>
                    <th>Actions</th>
                </MatTableHeader>
                <MatTableRow>
                    <td style="min-width: 300px" class="@(selectedArtist == context ? "selected": "")" >
                        @context.name
                    </td>
                    <td class="@(selectedArtist == context ? "selected": "")">
                        <div>
                            <MatButton OnClick="@(e => LoadDataForArtist(context))"
                                       Raised="true"
                                       Disabled="@loadingChartData"
                                       Style="float:left">Analyze Lyrics</MatButton>
                            @if (loadingChartData && selectedArtist == context)
                            {
                            <div style="float: left; margin-top: -15px; margin-left: 10px;">
                                <div class="loader"></div>
                            </div>
                            }
                        </div>
                    </td>
                </MatTableRow>
            </MatTable>
        }
        else if (artists != null & !loadingArtistData)
        {
            <NotificationPrompt Title="No artists found." />
        }
        else if (!loadingArtistData)
        {
            <NotificationPrompt Title="Type an artist name to begin searching." />
        }

    </p>

    @if (chartData != null)
    {
        <div>
            <Chart Id="@Guid.NewGuid().ToString()"
                   Type="@Chart.ChartType.Bar"
                   Data="@chartData"
                   BackgroundColor="@(new[] { "blueviolet", "cadetblue", "cornflowerblue", "darkcyan"})"
                   Labels="@(new[] { "Songs Analysed", "Mean Words", "Max Words", "Min Words"})"></Chart>
        </div>
    }

</div>

@code {

    string currentValue = "";
    System.Timers.Timer debounceTimer;
    bool loadingArtistData = false;
    bool loadingChartData = false;
    List<Artist> artists = null;
    string[] chartData = null;
    Artist selectedArtist = null;

    protected override void OnInitialized()
    {
        debounceTimer = new System.Timers.Timer(500);
        debounceTimer.Elapsed += OnInputFinish;
        debounceTimer.AutoReset = false;
    }

    void HandleKeyUp()
    {
        // remove previous one
        debounceTimer.Stop();

        // new timer
        debounceTimer.Start();

        //clear chart
        selectedArtist = null;
        chartData = null;
    }

    void OnInputFinish(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            loadingArtistData = true;
            StateHasChanged();
        });

        InvokeAsync(() =>
        {
            SearchArtists();
            loadingArtistData = false;
            StateHasChanged();
        });
    }

    void SearchArtists()
    {
        artists = artistService.GetArtists(currentValue);
    }

    void LoadDataForArtist(Artist artist)
    {
        selectedArtist = artist;
        InvokeAsync(() =>
        {
            chartData = null;
            loadingChartData = true;
            StateHasChanged();
        });

        var timer = new System.Timers.Timer(10);
        timer.Elapsed += LoadChartData;
        timer.AutoReset = false;
        timer.Start();
    }


    void LoadChartData(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            var artistData = artistService.GetArtistData(selectedArtist);
            chartData = new[] { artistData.TotalSongsChecked.ToString(), artistData.AverageLyrics.ToString(), artistData.MaxLyrics.ToString(), artistData.MinLyrics.ToString() };
            loadingChartData = false;
            StateHasChanged();
        });
    }

}
